<div class="profile-row">

    <div class="profile-photo-wrapper">
        <img src="<%= user.profileImg %>" alt="Profile Photo" class="profile-photo">
    </div>

    <div class="user-info-wrapper">
        <p><%= user.firstname %> <%= user.lastname %></p>
        <p><%= user.email %></p>
        <p class="user-info-label">Hometown: </p>
        <p><%= user.hometown %></p>
        <p class="user-info-label">Current City: </p>
        <p><%= user.currentCity %></p>
    </div>

</div>

<p class="photo-label user-info-label">PHOTOS:</p>

