<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { page: 'Photos' }) %> 

<body>
    
    <%- include('../partials/main_nav.ejs') %>
    
    <div class="main-container" id="photo-container"> 
        <% for(let idx=0; idx < comments.length; idx++){ %>
            <% const comment=comments[idx] %> 
                <div class="user-index-card">
                    <!-- <a href="/comments/" id="user-index-name"> -->
                        <div class="solo-comment-username"><%= comment.username %></div> 
                        <div class="solo-comment-timestamp"><%= new Date(comment.createdAt).toLocaleString() %></div> 
                        <div class="solo-comment-text"><%= comment.comment %></div> 
                </div>

        <% } %> 
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>