<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { page: 'Photos' }) %> 

<body>
    
    <%- include('../partials/main_nav.ejs') %>
    
    <div class="main-container">
        <% for(let idx=0; idx < photos.length; idx++){ %>
            <% const photo=photos[idx] %> 
                <div class="user-index-card">
                    <a href="/photos/<%= photo.id %>" id="user-index-name">
                        <img src="<%= photo.img %>" id="user-index-img" alt="Placeholder image"/>
                    </a>
                    <p><%= photo.tagline %></p>
                </div>

        <% } %> 
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>